name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docs:
    name: Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: olafurpg/setup-scala@v10
      - run: sbt ++2.13.5 docs/docusaurusCreateSite

  test:
    name: ${{ matrix.command }} ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: ['adopt@1.8', 'adopt@1.11']
        command:
          - "++2.13.5 ci"
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: ${{ matrix.java }}
      - name: Cache SBT coursier cache
        uses: actions/cache@v2.1.5
        with:
          path: ~/.cache/coursier/v1
          key: sbt-coursier-cache
      - name: Cache SBT
        uses: actions/cache@v2.1.5
        with:
          path: ~/.sbt
          key: sbt-${{ hashFiles('**/build.sbt') }}
      - run: sbt ${{ matrix.command }}
      - uses: codecov/codecov-action@v1
        if: startsWith(matrix.command, '++2.13')
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./target/scala-2.13/scoverage-report/scoverage.xml
          flags: unittests
          yml: ./.codecov.yml
